---
import HeroAnimatedText from "@components/Sections/Hero/HeroAnimatedText.astro";
import HeroDescription from "@components/Sections/Hero/HeroDescription.astro";
import HeroTags from "@components/Sections/Hero/HeroTags.astro";

interface Props {
  name: string;
  phrases: string[];
  description: string;
  location: string;
  githubUrl: string;
  linkedinUrl: string;
}

const { name, phrases, description, location, githubUrl, linkedinUrl } = Astro.props;
---

<div class="flex-1 flex flex-col gap-1 sm:gap-2 text-center sm:text-left">
  <HeroAnimatedText name={name} phrases={phrases} />
  <HeroDescription text={description} />
  <HeroTags location={location} githubUrl={githubUrl} linkedinUrl={linkedinUrl} />
</div>
