---
import Tag from "@components/UI/Tag.astro";
import Pin from "@components/Icons/Pin.astro";
import GitHub from "@components/Icons/GitHub.astro";
import LinkedIn from "@components/Icons/LinkedIn.astro";

interface Props {
  location: string;
  githubUrl: string;
  linkedinUrl: string;
}

const { location, githubUrl, linkedinUrl } = Astro.props;
---

<div class="flex flex-wrap justify-center sm:justify-start items-center gap-1.5 sm:gap-2">
  <div id="location-tag">
    <Tag label={location} icon={Pin} />
  </div>
  <Tag icon={GitHub} url={githubUrl} />
  <Tag icon={LinkedIn} url={linkedinUrl} />
</div>

<script>
  const locationTag = document.getElementById('location-tag');
  
  locationTag?.addEventListener('mouseenter', () => {
    (window as any).unlockTrophy?.('LOCATION_FINDER');
  });
</script>
