---
interface Props {
  label: string;
  icon: any;
  variant?: "social" | "tech";
}

interface VariantStyles {
  bg: string;
  iconColor: string;
  textColor: string;
  ring?: string;
}

const { label, icon: Icon, variant = "social" } = Astro.props;

const variantStyles: Record<string, VariantStyles> = {
  social: {
    bg: "bg-[var(--color-primary-light)]/50",
    iconColor: "text-[var(--color-text-muted)]",
    textColor: "text-[var(--color-text-light)]",
    ring: "ring-1 ring-black/5"
  },
  tech: {
    bg: "bg-[var(--color-primary-dark)]",
    iconColor: "text-[var(--color-primary-lightest)]",
    textColor: "text-[var(--color-primary-lightest)]",
  }
};

const styles = variantStyles[variant];
---

<div
  class={`flex justify-center items-center gap-1 px-2 py-1 ${styles.bg} rounded-full transition-colors shadow-lg ${styles?.ring} pointer-events-none`}
>
  <Icon extraClasses={`w-4 h-4 ${styles.iconColor}`} />
  <span class={`text-sm ${styles.textColor}`}>{label}</span>
</div>
